#container {
  text-align: center;
  width: 50vw;
  background-color: lightgrey;
}

ul {
  text-align: left;
  display: inline-block;
}

#calendar {
  color: white;
  background-color: blue;
  padding: 5px;
}

form {
  margin-top: 10px;
}

input {
  margin: 2px;
}
